{% load static %}

<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block styles %}
    {% endblock %}

    {% block title %}{% endblock %}
</head>

<body class="body">
    {% block header %}
    {% include 'partes/header.html'%}
    {% endblock %}
    
    {% block contenido %}{% endblock %}
    
    {% block footer %}
    {% include 'partes/footer.html'%}
    {% endblock %}
    
    {% block script %}{% endblock %}
</body>
</html>
