{% extends "base.html" %}
{% load static %}

{% block styles %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <!-- Estilos específicos -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block title %}
  <title>Proyecto Final Grupo-7</title>
{% endblock %}


{% block contenido %}
<main class="container my-5 ">
  <section class="hero">
    <div class="container">
        <img class='logo_index'src="{% static '../static/img/logo_g7.png' %}" alt="Logo"/>
        <h2>¡Bienvenido a GamerBlog!</h2>
        <p>Tu lugar para noticias, reseñas y comunidad gamer</p>
        <div class="hero-buttons">
            <a href="{% url 'apps.posts:posts' %}" class="btn btn-outline">Ver Posts</a>
            {% if not user.is_authenticated %}
              <a href="{% url 'apps.usuarios:iniciar_sesion' %}" class="btn btn-outline">Iniciar Sesión</a>
              <a href="{% url 'apps.contacto:contactos' %}" class="btn btn-outline">Consultas</a>
            {% endif %}
        </div>
    </div>
  </section>
  <section class="cuerpo p-4  rounded shadow-sm">
    <h3 class="mb-3">Estas son cinco de las plataformas de videojuegos más importantes del mercado:</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'apps.posts:filtrar_posts_id' 'plataforma' 1 %}" >PlayStation (PS5/PS4)</a></li>
      <li class="list-group-item"><a href="{% url 'apps.posts:filtrar_posts_id' 'plataforma' 2 %}" >Nintendo (Switch / Switch 2)</a></li>
      <li class="list-group-item"><a href="{% url 'apps.posts:filtrar_posts_id' 'plataforma' 3 %}" >Xbox (Series X|S & Game Pass)</a></li>
      <li class="list-group-item"><a href="{% url 'apps.posts:filtrar_posts_id' 'plataforma' 4 %}" >PC (Windows / Steam)</a></li>
      <li class="list-group-item"><a href="{% url 'apps.posts:filtrar_posts_id' 'plataforma' 5 %}" >Android (móvil)</a></li>
    </ul>
  </section>


  <section id="equipo" class="container">
    <h2>Integrantes del Equipo 7</h2>
    
    <ul class="team-list">
        <li>Antúnez, Pablo</li>
        <li>Avanzatti, Diego Gabriel</li>
        <li>Criscueli, Eduardo Ezequiel</li>
        <li>Fernández, Ezequiel Jesús</li>
        <li>Salas, Gabriel Leonardo</li>
        <li>Sánchez, Vanina</li>
        <li>Viton, Eliana</li>
    </ul>
</section>
</main>
{% endblock %}

{% block scripts %}
  <!-- Bootstrap JavaScript -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
  ></script>
{% endblock %}
