.perfil_usuario {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.705);
  background: #fafafa;
  border-left: 8px solid #0d6efd;
}

.img-perfil {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-left: 40px;
}

.comentarios-usuario h3 {
  margin-top: 30px;
  color: #0d6efd;
}

.posts-usuario{
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 10px;
  border: 1px solid #0d6efd;
  padding: 10px;
}

.posts-usuario h3{
  color: #fafafaee
}

.perfil{
  margin-right: 150px;
}