.container{
  flex: 1;
}

.list-group-item {
  background-color: #e0e0e4;
  border: 1px solid #02070e;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #04020e;
}

.list-group-item strong {
  color: #063c83;
}

.btn {
  min-width: 120px;
}

