{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Post</title>
{% endblock %}

{% block styles %}
 <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/posts/agregar_post.css' %}">
{% endblock %}

{% block header %}
  {% include "partes/header.html" %}
{% endblock %}

{% block contenido %}
<main class="container my-5" style="max-width: 600px;">
  <div class="bg-white bg-opacity-75 p-4 rounded shadow mt-4" style="max-width: 600px; margin: auto;">
    <h2 class="mb-4 text-center">Post</h2>
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary mt-3 w-100">Guardar Cambios</button>
    </form>
  </div>
</main>
{% endblock %}

{% block footer %}
  {% include "partes/footer.html" %}
{% endblock %}
