{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Editar Post - {{ posts.titulo }}</title>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/posts/agregar_post.css' %}">
{% endblock %}

{% block header %}
  {% include "partes/header.html" %}
{% endblock %}

{% block contenido %}
<main class="container my-5" style="max-width: 600px;">
  <h2 class="mb-4">Editar Post: {{ posts.titulo }}</h2>

  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary mt-3 w-100">Guardar Cambios</button>
  </form>
</main>
{% endblock %}

{% block footer %}
  {% include "partes/footer.html" %}
{% endblock %}
