{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Eliminar</title>
{% endblock %}

{% block styles %}
<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/genericos/confirma_eliminar.css' %}">
{% endblock %}

{% block header %}
  {% include "partes/header.html" %}
{% endblock %}

{% block contenido %}
<main class="container my-5" style="max-width: 400px;">
  <h2 class="mb-4 text-center">Confirmar eliminación</h2>

  <p class="text-center">¿Estás seguro de que querés eliminar?</p>

  <form method="post" class="text-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger px-5">Sí, eliminar</button>
  </form>
</main>
{% endblock %}

{% block footer %}
  {% include "partes/footer.html" %}
{% endblock %}
