__pycache__/
*.pd[cod]
.log
/media/*
!/media/posts/
!/media/usuarios/
/media/posts/*
/media/usuarios/*
/media/posts/img_post.png
/media/usuarios/img_perfil.png

.env
.vscode/
venv/
env/
.venv/
entorno/
