
.encabezado {
  background-color: #222;
  padding: 10px 0;
  color: white;
}



.navbar-brand h2 {
  margin: 0;
  font-size: 24px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}


.nav-link:hover {
  text-decoration: underline;
}

.enlace {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}