
.container{
  flex: 1;
}



form{
  max-width: 600px;
  margin: 10px auto;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin:35px auto;
  color: #ffffffef;
  text-align: center;
}

form label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  margin-top: 15px;
}

form input[type="text"],
form select,
form textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1.8px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form select:focus,
form textarea:focus {
  border-color: #007bff;
  outline: none;
}

form button[type="submit"] {
  margin-top: 25px;
  width: 100%;
  padding: 12px 0;
  background-color: #007bff;
  color: white;
  font-weight: 700;
  font-size: 1.15rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}
