{% extends "base.html" %}
{% load static %}


{% block titulo %}
<title>Comentarios</title>
{% endblock %}


{% block header %}
    {% include "partes/header.html" %}
{%endblock%}


{% block contenido %}
<div class="contenido">
    <ul>
        {% for i in comentarios %}
          <li>
          <p>{{i.id}}- {{i.usuario}} {{i.apellido}}// {{ i.post}}  // {{i.fecha}}.</p>
          <p><strong>Comentario:</strong> {{ i.texto }}</p>
          </li>
          {% empty %}
          <p>No hay registro</p>
        {% endfor %}
      </ul>
</div>
{%endblock%}

{% block footer %}
    {% include "partes/footer.html" %}
{%endblock%}
